body {
  font-family: 'Poppins', sans-serif;
  background-color: #222327;
  color: #FFF;
}

.col-sm-2 {
  padding-left: 0;
  text-align: center !important;
}

.container-fluid {
  padding-left: 0;
}

div.nav {
  background-color: #2C2D33;
}

nav.nav {
  height: 100%;
}

.nav-link {
  color: #FFF;
  transition: all 0.3s;
  &:hover {
    color: #8ECAFF;
  }
}

.link-style {
  transition: all 0.3s;
  border-radius: 3px;
}

.link-active {
  background-color: #547697;
  transition: all 0.3s;
  border-radius: 3px;
}

.row {
  margin-right: auto;
  margin-left: auto;
}

.logo {
  // position: aboslute;
  margin-right: auto;
  margin-left: auto;
  background-color: #41424D;
  height: 50px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  h6 {
    color: #FFF;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
}

.home {
  margin: 5% auto 0 auto;
  text-align: center;
  .home-desc {
    width: 800px;
  }
}

hr {
  background-color: rgba(255,255,255,0.25);
}